{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="card shadow-sm p-4 mb-4">
  <div class="card-header bg-primary text-white text-center">
    <h4 class="mb-0">{{ title }}</h4>
  </div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" id="{{ form.email.id_for_label }}" required>
      {% if form.email.errors %}
        <div class="text-danger small">{{ form.email.errors|first }}</div>
      {% endif %}
    </div>
    <div class="mb-3">
      <label for="{{ form.password.id_for_label }}" class="form-label">Пароль</label>
      <input type="password" name="password" class="form-control" id="{{ form.password.id_for_label }}" required>
      {% if form.password.errors %}
        <div class="text-danger small">{{ form.password.errors|first }}</div>
      {% endif %}
    </div>
    <div class="text-left mb-3">
      <button type="submit" class="btn btn-primary w-20">Войти</button>
    </div>
  </form>
  <div class="text-center">
    <p class="mb-0">Ещё нет аккаунта? <a href="{% url 'users:register' %}" class="text-decoration-none fw-bold text-primary">Зарегистрироваться</a></p>
  </div>
</div>
{% endblock %}
